.idea
pages/__pycache__/
modules/__pycache__/
data/__pycache__/
/venv/
/_dev/

# Credentials
browser-state
data/credentials.py
data/blacklist.txt
data/credentials.yaml
data/config.yaml

# Go build artifacts
*.exe
*.out
*.test
/bin/

#Go Playground
_playground/